.flex-wrapper {
	display: flex;
}

.input_div {
	width: 47%; 
	float: left; 
	margin: 0 12px;
}

.location_inputs {
	width: 32%;
	float: left;
	margin: 0px 1%;
}

.form_button {
	float: right;
	padding: 15px 20px;
	margin: 0 12px;
	background-color: #2c7636;
	color: white;
	border: none;
	text-decoration: none;
	cursor: pointer;
	transition: .2s ease-in-out;
}

.form_button:hover {
	background-color: #1b4922;
}

input {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
}

select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
}

